<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
    <li data-target="#myCarousel" data-slide-to="6"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div style="text-align: center">
        <%= image_tag 'homepage/banner1.jpg' %>
      </div>
      <div class="carousel-caption well">
        <p class="carousel-text">Lighting the Way</p>
      </div>
    </div>

    <div class="item">
      <div style="text-align: center">
        <%= image_tag 'homepage/banner3.jpg' %>
      </div>
      <div class="carousel-caption well">
        <p class="carousel-text">Demonstrating Impact</p>
      </div>
    </div>

    <div class="item">
      <div style="text-align: center">
        <%= image_tag 'homepage/banner4.jpg' %>
      </div>
      <div class="carousel-caption well">
        <p class="carousel-text">Making Informed Decisions</p>
      </div>
    </div>

    <div class="item">
      <div style="text-align: center">
        <%= image_tag 'homepage/banner7.jpg' %>
      </div>
      <div class="carousel-caption well">
        <p class="carousel-text">Being Responsive</p>
      </div>
    </div>

    <div class="item">
      <div style="text-align: center">
        <%= image_tag 'homepage/banner6.jpg' %>
      </div>
      <div class="carousel-caption well">
        <p class="carousel-text">Serving as a Catalyst</p>
      </div>
    </div>

    <div class="item">
      <div style="text-align: center">
        <%= image_tag 'homepage/banner5.jpg' %>
      </div>
      <div class="carousel-caption well">
        <p class="carousel-text">Providing Leadership</p>
      </div>
    </div>

    <div class="item">
      <div style="text-align: center">
        <%= image_tag 'homepage/banner2.jpg' %>
      </div>
      <div class="carousel-caption well" id="last-carousel-well">
        <p class="carousel-text">Being Innovative and Entrepreneurial</span></p>
      </div>
    </div>
  </div>
</div>

<hr style="border: none; color: black; background-color: black; height: 3px;" />

<div class="container">
    <div class="row">
      <div class="col-md-2">
        <%= image_tag 'homepage/lighting_the_way.jpg' %>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-4">
            <div class="homepage-block" style="background-color: #D6E9C6;">
                stuff
            </div>
          </div>
          <div class="col-md-4">
            <div class="homepage-block" style="background-color: #FEF78A;">
              stuff
            </div>
          </div>
          <div class="col-md-4">
            <div class="homepage-block" style="background-color: #ADDDDD;">
              stuff
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="homepage-block" style="background-color: #8FB557;">
              stuff
            </div>
          </div>
          <div class="col-md-8">
            <div class="homepage-block" style="background-color: #D1E0D5;">
              stuff
            </div>
          </div>
        </div>
      </div>
    </div>
</div>